---
---

@import 'reset';
@import url(http://fonts.googleapis.com/css?family=Hind);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// STRUCTURE //
html, body {
    height: 100%;
    width: 100%;
}
body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #e5e0dd;
    overflow-y: auto;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: stretch;
}
img {
    max-height: 100%;
    max-width: 100%;
}
nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    background: white;
    height: auto;
    padding: 0 0 20px 0;
    background: #169e9a;
    #luchia-brand {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 25%;
        padding: 10px;
        h1 {
            color: white !important;
        }
        span.desktop {
            display: none;
        }
    }
    #links {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 75%;
        width: 75%;
        ul {
            padding: 25px 0 0 0;
            text-align: right;
            li {
                display: inline-block;
                padding: 0 15px 0 0;
            }
        }
    }
}
#content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    background: white;
}
section {
    max-width: 100%;
    padding: 10px;
    &#resume {
        margin: 20px;
        ul.minor-info li {
            display: inline-block;
            width: 49%;
            margin: 20px 0 20px 0;
            &:last-child {
                text-align: right;
            }
        }
        ul.skill-set {
            margin: 20px 0;
            li {
                display: inline-block;
                padding: 10px 20px;
                margin: 5px 5px;
                border-radius: 20px;
                font-size: 0.85em;
            }
        }
    }
    &#blog {
        margin: 20px;
    }
}
article {
    h1, h2, h3, h4, h5 , h6, { line-height: 3em; }
    p { 
        line-height: 2em;
    }
}
// TYPOGRAPHY //
h1 {
    margin-top: 0;
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.75em;
}
h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Hind', sans-serif;
    letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6, a, p, li {
    color: #444444;
}
a, p, li {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    transition: 0.3s;
    h1.post-title {
        color: #169e9a;
        &:hover {
            color: #18a9a5;
        }
    }
}
p {
    font-size: 0.85em;
    line-height: 1.5em;
}
ul {
    &.light-blue {
        li {
            background: #169e9a;
            color: white;
        }
    }
    &.medium-blue {
        li {
            background: #0e8581;
            color: white;
        }
    }
    &.dark-blue {
        li {
            background: #0b5d51;
            color: white;
        }
    }
    &.grey {
        li {
            background: #5d4f42;
            color: white;
        }
    }
}
.label {
    color: #aaaaaa;
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.5em;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #dbdbdb;
}
.company, .skill {
    font-size: 1.5em;
    margin-top: 20px;
}
.position, .time-spent {
    font-size: 0.95em;
}
.post-title {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    margin-bottom: 20px;
    outline: none;
    color: #169e9a;
}
.post-date {
    font-size: 0.95em;
    border-top: 1px solid #dbdbdb;
    padding-top: 10px;
    margin-top: 40px;
}
// MEDIA QUERIES //
@media only screen and (min-width : 700px) {
    body {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    nav {
        flex: 25%;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        height: 100%;
        border-right: 1px solid #dbdbdb;
        padding: 0;
        #luchia-brand {
            padding-top: 80%;
            span.desktop {
                display: block;
            }
        }
        #links {
            align-items: stretch;
            align-self: flex-end;
            flex: 100%;
            ul {
                padding: 0;
                li {
                    display: block;
                    padding: 20px 20px 20px 0;
                    text-align: center;
                    transition: 0.3s;
                    &:nth-child(1) {
                        background: #169e9a;
                        &:hover {
                            background: #18a9a5;
                        }
                    }
                    &:nth-child(2) {
                        background: #0e8581;
                        transition: fade 0.3s;
                        &:hover {
                            background: #109591;
                        }
                    }
                    &:nth-child(3) {
                        background: #0b5d51;
                        &:hover {
                            background: #0a6f5c;
                        }
                    }
                    a {
                        color: white;
                    }
                    &:hover {
                        transition: 0.3s;
                    }
                }
            }
        }
    }
    #content {
        flex: 75%;
    }
    section {
        &#resume, &#blog {
            padding: 0 40px;
            width: 75%;
        }
    }
}
@media only screen and (min-width : 1200px) {
    body {
        width: 1200px;
        margin: 0 auto;
    }
}