---
---

@import 'reset';
@import 'typography';
@import url(http://fonts.googleapis.com/css?family=Merriweather:700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

// STRUCTURE //
html, body {
    height: 100%;
}
body {
    background-color: #fafafa;
}
#container {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #fafafa;
}
nav {
    width: 100%;
    text-align: center;
    height: auto;
    border-bottom: 1px solid #afafaf;
    text-transform: lowercase;
    ul {
        text-align: center;
        list-style-type: none;
        margin-top: 20px;
        li {
            padding: 0 20px 0 0;
            display: inline-block;
            &:last-child {
                padding-right: 0;
            }

        }
    }
}
#post, #resume {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}
#feature-image {
    order: 1;
    img {
        width: 100%;
    }
}
#post-content, #resume {
    padding: 10px;
    h2 {
        color: #2D84E8;
    }
    h4 {
        margin-bottom: 0;
        padding-bottom: 7px;
        border-bottom: 1px solid #afafaf;
    }
    p {
        margin-top: 7px;
    }
    p, li {
        font-size: 0.65em;
    }
}
#left-column {
    order: 1;
}
#right-column {
    order: 2;
}
#entire-post {
    width: 95%;
    margin: 0 auto;
    img {
        width: 100%;
    }
    h2 {
        padding-bottom: 20px;
        border-bottom: 1px solid #afafaf;
        margin-bottom: 30px;
    }
}
#gallery {
    margin: 20px 0 0 0;
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    div {
        -webkitbox-flex: auto;
        -ms-flex: auto;
        flex: auto;
        width: 200px;
        margin: .5vw;
        img {
            width: 100%;
            height: auto;
        }
    }
}
#category-list {
    width: 95%;
    h4 {
        margin: 0;
        padding-bottom: 7px;
        border-bottom: 1px solid #afafaf;
        text-transform: capitalize;
    }
    p, ul {
        margin-top: 7px;
    }
    a, p {
        font-size: 0.65em;
    }
}
#meta-data {
    font-size: 0.65em;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            padding-right: 30px;
            &:last {
                padding-right: 0;
            }
        }
    }
}
#pagination {
    margin-top: 20px;
    ul {
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
        }
    }
}
// TYPOGRAPHY //
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-style: italic;
}
a, p, li {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: #2D84E8;
    text-decoration: none;
    &:hover {
        color: #2367B5;
    }
    &.category {
        text-transform: lowercase;
    }
}
// MEDIA QUERIES //
@media only screen and (min-width : 1014px) {
    #container {
        width: 70%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #post {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    #feature-image, #post-content, #left-column, #right-column {
        flex: 1;
    }
    #feature-image, #left-column {
        padding: 0 30px 0 50px;
    }
    #post-content, #right-column {
        padding: 0 50px 0 0;
    }
    #entire-post, #category-list {
        width: 85%;
        margin: 0 auto;
    }
}