---
layout: default
---

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title"> </h1>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      
    </div>
</header>

<main class="content" role="main">
  <div class="cf frame">
    <h1>Hey, I'm Lucy :)</h1>
    <p>I’m the Co-Founder of Trefiel - think skin care meets self-care - which I started with my partner, Michael Tremeer, when we saw the opportunity to spoil and pamper women everywhere (and teach them how to love themselves too).</p>

    <p>I think we have the <a href='http://www.trefiel.com/' target='_blank'>best face masks ever</a> but I have to admit, I’m <strong>very</strong> biased.</p>

    <p>I like to write about what has and hasn't worked while growing my ecommerce business, processes that streamline our operations and templates that organise everything (with a specific focus on running a remote team) and basically everything in between because it's my blog and I'll do what I want.

    <p>Let's do this!</p>


    <div class="cf frame">
      {% for post in site.posts %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
<!--            <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span>-->
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
  <div class="grid">
    <div class='col-3-12'>
      <p class='label'>Contact</p>
    </div>
    <div class='col-9-12'>
      <p>Email: hello[at]luchia.com.au</p>
      <p>Phone: +61 456 163 700</p>
    </div>
  </div>
</main>